/**************************************************************************************************************************************************/
/******************************************************************* APP & INDEX ******************************************************************/
/**************************************************************************************************************************************************/
html, body {
  background: linear-gradient(to bottom, #000000 0%, #30435257 100%);
  text-align: center;
  color: rgb(227, 222, 228);
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
}

.App {
  display: flex;
  text-align: center;
}

button {
  cursor: pointer;
  background-color: white;
  font-size: 1.75em;
  margin: 1em;
  color: black;
  border-radius: 25px;
  font-family: 'Encode Sans SC', sans-serif;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.233);
  font-weight: bolder;
}

/**************************************************************************************************************************************************/
/******************************************************************** MOBILE: App & Index *********************************************************/
/**************************************************************************************************************************************************/
@media screen and (max-width: 500px) {
  html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif
  }
}


/**************************************************************************************************************************************************/
/******************************************************************** NAV BAR *********************************************************************/
/**************************************************************************************************************************************************/
.nav {
  height: 100%;
  width: 0;
  background: linear-gradient(137.9deg, rgb(78, 156, 226) 7.8%, rgb(62, 146, 69) 16%, rgb(251, 220, 23) 32.7%, rgb(242, 160, 35) 50.4%, rgb(253, 12, 12) 71.5%, rgb(192, 26, 129) 83.1%);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: .5s ease;
  overflow-x: hidden;
}

.nav span {
  display: block;
  font-size: 1.25em;
  padding: 1em 1em 1em 1em;
  transition: 0.3s;
}

.nav span:hover {
  color: #a4f5f1;
}

.nav .close-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  margin-left: 5em;
  background-color:#000000e5;
  color: white;
  border: none;
  cursor: pointer;
}

#open-nav {
  transition: margin-left .5s;
  padding: 1em;
  height: auto;
  font-size: 2em;
}

/**************************************************************************************************************************************************/
/******************************************************************** MOBILE: Nav Bar *************************************************************/
/**************************************************************************************************************************************************/
@media screen and (max-width: 500px) {
  .nav span {font-size: 18px;}
  .nav {height: 100%;}
}

/**************************************************************************************************************************************************/
/******************************************************************** PAGES (HOME & CONTACT) ******************************************************/
/**************************************************************************************************************************************************/
.pages {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.pages h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 72px;
  text-shadow: .01em .01em .1em #2affd1;
}

.pages h1:hover {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 69px;
  text-shadow: 0em 4em .069em #2affd1;
  cursor: none;
}