body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  background-image: url("./webBackground.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(43, 41, 41);
  font-size: 1.25em;
  width: 100vw;
}

.nav a {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-decoration: none;
  margin: 1.25em;
  color: #fdfcea;
}

.nav a:focus {
  color: #43a680;
  margin: 23px 25px;
}

.app {
  font-family: 'Marcellus', serif;
  height: 100vh;
  width: 100vw;
  background-color: #a58d6863;
  color: rgb(43, 41, 41);
}

